.matches_button_container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  gap: 1rem;
  background-color: rgba(11, 15, 26, 0.5);
  border-radius: 1rem;
  box-shadow: 0 0 40px rgba(0, 150, 255, 0.3);
  color: white;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(20px);
  padding: 4.5rem;
  width: 100%;
  margin-top: 500px;
}
.matches_button_container button {
  background-color: #00a343;
  padding: 1rem 5.1rem;
  border: none;
  border-radius: 1rem;
  font-weight: 700;
  text-shadow: var(--text-shadow);
  cursor: pointer;
}
.match_iconName_container {
  display: flex;
  gap: 0.3rem;
  background-color: #151b2d;
  padding: 0.5rem 1.4rem;
  border-radius: 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.match_icons {
  font-size: 1.5rem;
}
.home_away_container {
  display: flex;
  gap: 1.8rem;
}
.matches_container {
  background-color: var(--content-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  border-radius: 0.5rem;
}
.team_name {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
}
.match_container {
  display: flex;
  font-weight: 700;
  gap: 0.8rem;
}
.result_container {
  align-items: center;
  display: flex;
  gap: .8rem;
}
.result_container i {
  line-height: 0;
  font-size: 2.4rem;
}
.ht_input,
.ft_input {
  outline: none;
  border-radius: 0.5rem;
  background-color: #151b2d;
  color: white;
  border: none;
  font-weight: 700;
}
.ht_input {
  width: 1.2rem;
  height: 1.8rem;
  font-size: 1rem;
  padding-left: 0.2rem;
}
.ft_input {
  padding-left: 0.4rem;
  font-size: 1.5rem;
  width: 1.5rem;
  height: 2.4rem;
}
.green {
  color: #00ff4c !important;
  font-weight: 700;
}

.yellow {
  color: #ffe600 !important;
  font-weight: 700;
}

.red {
  color: #ff3b3b !important;
  font-weight: 700;
}
.input_team_name {
  background-color: var(--content-color);
  border: none;
  border-bottom: 1px solid var(--azul);
  outline: none;
  color: white;
  font-weight: 700;
  width: 10rem;
  padding-left: 0.5rem;
}
.error_message {
  color: #ff3b3b;
  font-size: 1rem;
}
