.matches_button_container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  gap: 2rem;
  background-color: var(--branco-f6);
  border: var(--border-dark);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  color: var(--dark);
  padding: 4.5rem;
  width: 100%;
}
.matches_button_container button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--azul);
  color: white;
  padding: 1rem 5.1rem;
  width: 17.2rem;
  height: 2.9rem;
  border: var(--border-dark);
  box-shadow: var(--box-shadow-small);
  border-radius: 1rem;
  font-weight: 700;
  text-shadow: var(--text-shadow);
  cursor: pointer;
}
.match_iconName_container {
  display: flex;
  gap: 0.3rem;
  background-color: var(--branco-f6);
  padding: 0.5rem 1.4rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow-small);
   border: var(--border-dark);
}
.match_icons {
  font-size: 1.5rem;
}
.home_away_container {
  display: flex;
  gap: 1.8rem;
}
.matches_container {
  background-color: var(--content-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  border-radius: 0.5rem;
}
.team_name {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
}
.match_container {
  display: flex;
  font-weight: 700;
  gap: 0.8rem;
}
.result_container {
  align-items: center;
  display: flex;
  gap: .8rem;
}
.result_container i {
  line-height: 0;
  font-size: 2.4rem;
}
.ht_input,
.ft_input {
  outline: none;
  border-radius: 0.5rem;
  background-color: var(--branco-f6);
  color: var(--dark);
  border: none;
  box-shadow: var(--box-shadow-small);
   border: var(--border-dark);
  font-weight: 700;
}
.ht_input {
  width: 1.2rem;
  height: 1.8rem;
  font-size: 1rem;
  padding-left: 0.2rem;
}
.ft_input {
  padding-left: 0.4rem;
  font-size: 1.5rem;
  width: 1.5rem;
  height: 2.4rem;
}
.green {
  color: #00ff4c !important;
  font-weight: 700;
}

.yellow {
  color: #ffe600 !important;
  font-weight: 700;
}

.red {
  color: #ff3b3b !important;
  font-weight: 700;
}
.input_team_name {
  background-color: var(--content-color);
  border: none;
  border-bottom: 1px solid var(--azul);
  outline: none;
  color: var(--dark);
  font-weight: 700;
  width: 10rem;
  padding-left: 0.5rem;
}
.error_message {
  color: #ff3b3b;
  font-size: 1rem;
}
.teamPerformance_selects{
  display: flex;
  gap: 1rem;
}
.teamPerformance_selects select, .teamPerformance_selects input{
  border: var(--border-dark);
  box-shadow: var(--box-shadow-small);
  background-color: var(--branco-f6);
  color: var(--dark);
  border-radius: 1rem;
  padding: .4rem;
  font-weight: 600;
  font-size: 1.2rem;
}