.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: var(--text-color);
}
.header h1 {
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: 500;
}
.header_nav {
  display: flex;
  gap: 10px;
}
.header_nav_list {
  display: none;
  gap: 2.8rem;
  align-items: center;
  text-shadow: var(--text-shadow);
}
.header_nav_buttons {
  display: flex;
  gap: 5px;
  font-size: 1.1rem;
  font-weight: 600;
}
.header_nav_buttons button:first-child {
  background: var(--azul);
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  width: 9.6rem;
  height: 2.6rem;
  color: white;
  transition: box-shadow 0.2s ease-in-out;
}
.header_nav_buttons button:first-child:hover {
  box-shadow: 0 0px 6px var(--azul);
}
.header_nav_buttons button:nth-child(2) {
  color: var(--dark);
  transition: color 0.2s ease-in-out;
}
.header_nav_buttons button:nth-child(2):hover {
  color: var(--azul);
}
.header_nav ul {
  display: flex;
  font-weight: 600;
  list-style: none;
  text-transform: uppercase;
  color: var(--text-color);
}
.header_nav ul li {
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.header_nav ul li:hover {
  color: var(--azul);
}
.header_nav_icons {
  display: flex;
  gap: 2rem;
}
@media (min-width: 650px) and (max-width: 1279px) {
  .header_nav_list {
    display: flex;
    gap: 1.8rem;
  }
  .header_nav ul {
    font-size: 1.1rem;
    gap: 1.7rem;
  }
  .header_nav_icons {
    display: none;
  }
}
@media (min-width: 1280px) {
  .header_nav_list {
    display: flex;
  }
  .header_nav ul {
    font-size: 1.3rem;
    gap: 3.7rem;
  }
  .header_nav_icons {
    display: none;
  }
  .icon_darkMode{
    font-size: 2rem;
  }
  .icon_user {
    font-size: 4rem;
  }
  .header_nav_login {
    display: flex;
    gap: 1rem;
    text-align: end;
    align-items: center;
  }
  .header_nav_login_data h5 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .header_nav_login_data h6 {
    font-size: 1.3rem;
    font-weight: 600;
  }
}
