.featureGrid_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  text-shadow: var(--text-shadow);
}
.featureGrid_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 100%;
}
.featureGrid_container h5 {
  font-size: 1.2rem;
  color: #11492c;
  font-weight: 700;
}
.featureGrid_content_option {
  background: linear-gradient(#71aa80, #11492c);
  color: white;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 135px;
  width: 100%;
  min-width: 13.5px;
  gap: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.featureGrid_content_option svg {
  font-size: 45px;
  filter: drop-shadow(var(--text-shadow));
}
@media (min-width: 650px) and (max-width: 1279px) {
  .featureGrid_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
  }
  .featureGrid_container h5 {
    grid-column: 2 / span 10;
    text-align: center;
    margin: 0 auto;
  }
  .featureGrid_content {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    justify-items: center;
    width: 100%;
  }
  .featureGrid_content_option {
    width: 100%;
  }
  .col_10 {
    grid-column: span 10;
  }
  .col_12 {
    grid-column: span 12;
  }
}
@media (min-width: 1280px) {
  .featureGrid_content {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    justify-items: center;
    width: 100%;
  }
  .featureGrid_content_option {
    flex-direction: row;
    width: 100%;
  }
  .featureGrid_container h5 {
    font-size: 1.8rem;
  }
}
