.content-wrapper-center {
  padding: 3rem 1rem 2rem;
  max-width: 107.6rem;
  margin: auto;
}
.hero_main_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.6rem;
}
@media (min-width: 650px) {
  .col-1 {
    grid-column: span 1;
  }
  .col-2 {
    grid-column: span 2;
  }

  .col-4 {
    grid-column: span 4;
  }
  .col-5 {
    grid-column: span 5;
  }
  .col-7 {
    grid-column: span 7;
  }
  .col-8 {
    grid-column: span 8;
  }
  .col-9 {
    grid-column: span 9;
  }
  .col-11 {
    grid-column: span 11;
  }
    .col-10 {
    grid-column: span 10;
  }

}

:root {
  --text-shadow: 0 1.7px 2px rgba(0, 0, 0, 0.25);
  --verde-claro: #71aa80;
  --verde-escuro: #11492c;
}
