:root {
  --text-shadow: 0 1.7px 2px rgba(0, 0, 0, 0.25);
  --azul: #0368ff;
  --dark: #191a23;
  --branco-f6: #f6f6f6;
  --box-shadow: 0 4px 10px rgba(25, 26, 35, 0.25);
  --box-shadow-small: 0 3px 0 #191a23;
  --border-dark: 1px solid var(--dark);
}
.content-wrapper-center {
  padding: 3rem 1rem 2rem;
  max-width: 107.6rem;
  margin: auto;
  position: relative;
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.6rem;
  align-items: center;
}
.row_align_top {
  align-items: start !important;
}
.hero_main_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.apostas_caderneta_abertas {
  display: flex;
  gap: 2rem; /* Espaço entre a Caderneta e as Apostas Abertas */
  align-items: stretch; /* Faz os dois terem a mesma altura se um for maior */
  width: 100%;
}
.sm-12 {
  grid-column: 1 / -1;
}
.table_container {
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  width: 100%;
  margin: 0;
  background-color: #f6f6f6;
  max-height: 60rem;
  height: 40rem;
  padding: 1rem;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.custom_table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  border-spacing: 0 14px;
}
.custom_table td {
  padding: 8px 0;
}
.custom_table th:first-child {
  border-radius: 1rem 0 0 0;
}
.custom_table th:last-child {
  border-radius: 0 1rem 0 0;
}
.custom_table thead {
  color: var(--dark);
}
.custom_table tbody {
  background-color: transparent;
}
.custom_table tbody tr {
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}
.custom_table td {
  background-color: white;
}
.custom_table td:first-child {
  border-radius: 1rem 0 0 1rem;
}
.custom_table td:last-child {
  border-radius: 0 1rem 1rem 0;
}
@media (min-width: 650px) and (max-width: 1279px) {
  .col-7 {
    grid-column: span 7;
  }
  .col-5 {
    grid-column: span 5;
  }
  .col-end-6 {
    grid-column: 7 / -1;
  }
  .col-8-10 {
    grid-column: 8 / 11;
  }
  .table_container {
    max-height: 60rem;
    height: 60rem;
  }
}
@media (min-width: 1280px) {
  .col-7 {
    grid-column: span 7;
  }
  .col-4 {
    grid-column: span 4;
  }
  .col-5 {
    grid-column: span 5;
  }
  .col-6 {
    grid-column: span 6;
  }
  .col-8 {
    grid-column: span 8;
  }
  .col-end-6 {
    grid-column: 7 / -1;
  }
  .col-start-8 {
    grid-column: 8 / -1;
  }
  .col-8-10 {
    grid-column: 8 / 11;
  }
  .col-12{
    grid-column: span 12;
  }
  .table_container {
    max-height: 60rem;
    height: 60rem;
  }
}
