:root {
  --text-shadow: 0 1.7px 2px rgba(0, 0, 0, 0.25);
  --verde-claro: #71aa80;
  --verde-escuro: #11492c;
  --azul: #0368ff;
}
.content-wrapper-center {
  padding: 3rem 1rem 2rem;
  max-width: 107.6rem;
  margin: auto;
}
.hero_main_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.6rem;
  align-items: center;
}
.sm-12 {
  grid-column: 1 / -1;
}
.table_container {
  border-radius: 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin: 0;
  background-color: #f6f6f6;
  max-height: 60rem;
  height: 40rem;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.custom_table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 15px 14px;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  table-layout: fixed;
  border-spacing: 0 14px;
  margin-top: -14px;
}
.custom_table th,
td {
  padding: 8px 0;
}
.custom_table th:first-child {
  border-radius: 1rem 0 0 0;
}
.custom_table th:last-child {
  border-radius: 0 1rem 0 0;
}
.custom_table thead {
  background: var(--azul);
  color: white;
}
.custom_table tbody {
  background-color: transparent;
}
.custom_table tbody tr {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}
.custom_table td {
  background-color: white;
}
.custom_table td:first-child {
  border-radius: 1rem 0 0 1rem;
}
.custom_table td:last-child {
  border-radius: 0 1rem 1rem 0;
}
@media (min-width: 650px) and (max-width: 1279px) {
  .col-7 {
    grid-column: span 7;
  }
  .col-5 {
    grid-column: span 5;
  }
  .col-end-6 {
    grid-column: 7 / -1;
  }
  .col-8-10 {
    grid-column: 8 / 11;
  }
  .table_container {
    max-height: 60rem;
    height: 60rem;
  }
}
@media (min-width: 1280px) {
  .col-7 {
    grid-column: span 7;
  }
  .col-5 {
    grid-column: span 5;
  }
  .col-end-6 {
    grid-column: 7 / -1;
  }
  .col-8-10 {
    grid-column: 8 / 11;
  }
  .table_container {
    max-height: 60rem;
    height: 60rem;
  }
}
