* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: #111;
  -webkit-font-smoothing: antialiased;
}
body.dark-mode {
  background-color: var(--dark-background);
  --background-component: var(--dark-background-component);
  --text-color: white;
  --background-component-item: var(--dark-background-component-item);
  color: white;
  transition: background-color 0.3s ease;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}
