.aut_container {
  background-color: white;
  padding: 2.8rem 4rem;
  border-radius: 1rem;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 30px;
  border: var(--border-dark);
  box-shadow: var(--box-shadow);
}
.aut_wrapper {
  display: flex;
  align-items: center;
  width: 200%;
  transition: transform 0.5s ease-in-out;
}
.show_login {
  transform: translateX(-50%);
}
.aut_container h1 {
  margin-bottom: 1.4rem;
  font-size: 2.4rem;
}
.aut_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  box-sizing: border-box;
  transition:
    opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  opacity: 1;
}
.show_login .aut_content:first-child {
  opacity: 0;
  pointer-events: none;
}
.aut_wrapper:not(.show_login) .aut_content:last-child {
  opacity: 0;
  pointer-events: none;
}
.show_login .aut_content:first-child,
.aut_wrapper:not(.show_login) .aut_content:last-child {
  transform: scale(0.9);
}
.show_login .aut_content:first-child {
  opacity: 0;
  pointer-events: none;
}
.aut_wrapper:not(.show_login) .aut_content:last-child {
  opacity: 0;
  pointer-events: none;
}
.show_login .aut_content:first-child,
.aut_wrapper:not(.show_login) .aut_content:last-child {
  transform: scale(0.9);
}
.aut_container * {
  box-sizing: border-box;
}
.aut_nome_container {
  display: flex;
  width: 100%;
  gap: 2rem;
}
.aut_nome_container .aut_input_container {
  flex: 1;
  min-width: 0;
}
.aut_input_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}
.aut_input_container label {
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 0.9rem;
}
.aut_input_container input,
.aut_input_container select {
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 1rem;
  height: 5rem;
  padding-left: 0.9rem;
  box-shadow: var(--box-shadow);
  outline: none;
}
.aut_input_container select {
  border: 2px solid var(--azul);
  color: var(--azul);
  font-weight: 600;
}
.aut_input_container input {
  border: none;
}
.aut_content_buttons {
  width: 100%;
  text-align: center;
  font-weight: 600;
  margin-top: 1.2rem;
}
.aut_content_buttons button {
  background-color: var(--azul);
  width: 100%;
  color: white;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  font-size: 1.2rem;
  padding: 1.7rem;
  margin-bottom: 1rem;
}
.aut_content_buttons p a {
  color: var(--azul);
}
