.desempenhoTable_section {
  display: grid;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.desempenhoTable_buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.desempenhoTable_buttons button {
  border-radius: 1.2rem;
  background-color: var(--azul);
  font-size: 1rem;
  font-weight: 700;
  color: white;
  padding: 0.4rem 1.7rem;
  transition:
    background 0.5s ease-in-out,
    color 0.5s ease-in-out;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.desempenhoTable_buttons button:hover,.desempenhoTable_buttons button.active {
  background: white;
  color: var(--azul);
}

@media (min-width: 1280px) {
  .desempenhoTable_section h5,
  .desempenhoTable_buttons button {
    font-size: 1.3rem;
  }
  .desempenhoTable_section {
    gap: 2.7rem;
  }
  .DesempenhoTable_container {
    font-size: 1.5rem;
  }
  .DesempenhoTable_container tr td {
    font-size: 1.3rem;
  }
}
