.hero_container {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.text_section {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.text_section h2 {
  font-size: 3.4rem;
  text-transform: uppercase;
  line-height: 100%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-style: italic;
  font-weight: 500;
  text-align: center;
}
.text_section p {
  font-size: 1rem;
      color: white;
  text-shadow: var(--text-shadow);
  width: 70%;
  font-weight: 600;
  display: none;
}

@media (min-width: 650px) and (max-width: 1279px) {
  .hero_container {
    display: grid;
  }
  .text_section {
    text-align: left;
    gap: 3rem;
  }
  .text_section h2 {
    font-size: 4rem;
    text-align: left;
  }
  .text_section p {
    text-align: left;
    font-size: 1.3rem;
    width: 100%;
    display: grid;
  }
}
@media (min-width: 1280px) {
  .hero_container {
    display: grid;
  }
  .text_section {
    text-align: left;
    gap: 3rem;
  }
  .text_section h2 {
    font-size: 4.7rem;
    text-align: left;
  }
  .text_section p {
    text-align: left;
    font-size: 1.3rem;
    width: 100%;
    display: grid;
  }
}
