.hero_container {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.text_section {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.text_section img {
  display: none;
}
.text_section h2 {
  font-size: clamp(2.2rem, 8vw + 0.5rem, 3.4rem);
  line-height: 100%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-style: italic;
  font-weight: 500;
  text-align: left;
}
.text_section p {
  font-size: clamp(0.75rem, 1vw + 0.5rem, 1.2rem);
  color: white;
  text-shadow: var(--text-shadow);
  font-weight: 600;
  display: none;
}
.text_section p:first-of-type {
  display: block; 
}
.text_section br {
  display: none;
}

@media (min-width: 650px) and (max-width: 1279px) {
  .hero_container {
    display: grid;
  }
  .text_section {
    text-align: left;
    gap: 3rem;
  }
  .text_section h2 {
    font-size: clamp(2rem, 4vw + 1rem, 5rem);
    text-align: left;
  }
  .text_section p {
    text-align: left;
    font-size: clamp(1rem, 1vw + 0.5rem, 1.3rem);
    width: 100%;
    display: grid;
  }
  .text_section img {
    display: flex;
    width: 100%;
  }
  .text_section br {
    display: inline;
  }
}
@media (min-width: 1280px) {
  .hero_container {
    display: grid;
  }
  .text_section {
    text-align: left;
    gap: 3rem;
  }
  .text_section h2 {
    font-size: 4.7rem;
    text-align: left;
  }
  .text_section p {
    text-align: left;
    font-size: 1.3rem;
    width: 100%;
    display: grid;
  }
  .text_section img {
    display: flex;
    width: 100%;
  }
  .text_section br {
    display: inline;
  }
}
