.hero_container {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.hero_container img {
  width: 100%;
  max-width: 50rem;
}
.text_section {
  text-align: center;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.text_section h2 {
  font-size: 7.5rem;
  text-transform: uppercase;
  line-height: 80%;
  filter: drop-shadow(0 4px 2px black);
  background: linear-gradient(180deg, #71aa80, #11492c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text_section p {
  font-size: 1rem;
  color: var(--verde-escuro);
  text-shadow: var(--text-shadow);
  width: 70%;
}

@media (min-width: 650px) and (max-width: 1279px) {
  .hero_container {
    display: grid;
  }
  .col_6 {
    grid-column: span 6;
  }
  .text_section {
    text-align: left;
  }
  .text_section h2 {
    font-size: 9.6rem;
  }
  .text_section p {
    width: 100%;
  }
  .hero_container img {
    width: 100%;
    max-width: 40rem;
  }
}
@media (min-width: 1280px) {
  .hero_container {
    display: grid;
  }
  .col_6 {
    grid-column: span 6;
  }
  .text_section {
    text-align: left;
  }
  .text_section h2 {
    font-size: 14rem;
  }
  .text_section p {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
  }
}
