.hero_container {
  width: 100%;
    background: url(../src/assets/background3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
    padding: 3rem 1rem 2rem;
}

.text_section {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 3rem;
}
.text_section img {
  display: none;
}
.text_section h2 {
  font-size: clamp(2.2rem, 8vw + 0.5rem, 3.4rem);
  line-height: 100%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-style: italic;
  font-weight: 500;
  text-align: left;
}
.text_section p {
  font-size: clamp(0.75rem, 1vw + 0.5rem, 1.2rem);
  color: white;
  text-shadow: var(--text-shadow);
  font-weight: 600;
  display: none;
}
.text_section p:first-of-type {
  display: block; 
}
.text_section br {
  display: none;
}
.text_section button{
  background: var(--azul);
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  width: 9.6rem;
  height: 2.6rem;
  color: white;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}
.text_section button:hover {
  box-shadow: 0 0px 6px var(--azul);
}

@media (min-width: 650px) and (max-width: 1279px) {
  .hero_container {
    display: grid;
  }
  .text_section {
    text-align: left;
    gap: 3rem;
  }
  .text_section h2 {
    font-size: clamp(2rem, 4vw + 1rem, 5rem);
    text-align: left;
  }
  .text_section p {
    text-align: left;
    font-size: clamp(1rem, 1vw + 0.5rem, 1.3rem);
    width: 100%;
    display: grid;
  }
  .text_section img {
    display: flex;
    width: 100%;
  }
  .text_section br {
    display: inline;
  }
}
@media (min-width: 1280px) {
  .hero_container {
    display: grid;
  }
  .text_section {
    text-align: left;
    gap: 3rem;
  }
  .text_section h2 {
    font-size: 4.7rem;
    text-align: left;
  }
  .text_section p {
    text-align: left;
    font-size: 1.3rem;
    width: 100%;
    display: grid;
  }
  .text_section img {
    display: flex;
    width: 100%;
  }
  .text_section br {
    display: inline;
  }
}
