.hero_main {
  height: 340px;
  background: linear-gradient(#71aa80, #11492c);
  color: white;
  text-align: center;
  display: grid;
  align-items: center;
  text-shadow: var(--text-shadow);
}
.hero_main h1 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 800;
  line-height: 100%;
}
.hero_main h5 {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 100%;
}
.col_12 {
  grid-column: span 12;
}
@media (min-width: 650px) and (max-width: 1279px) {
  .hero_main {
    height: 340px;
    text-align: left;
  }
  .hero_main h1 {
    font-size: 4.8rem;
  }
  .hero_main h5 {
    font-size: 1.2rem;
  }
  .col_6 {
    grid-column: span 6;
  }
  .col_10 {
    grid-column: span 10;
  }
}
@media (min-width: 1280px) {
  .hero_main {
    text-align: left;
  }
  .hero_main h1 {
    font-size: 6.3rem;
  }
  .hero_main h5 {
    font-size: 1.8rem;
  }
  .col_8 {
    grid-column: span 8;
  }
  .col_6 {
    grid-column: span 6;
  }
}
