.cycle_data_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  align-items: end;
}
.cycle_data_div {
  display: flex;
  gap: 1.6rem;
  width: 100%;
  height: 100%;
}
.cycle_content {
    width: 100%;
  height: 100%;
  background-color: var(--background-component);
  border-radius: 0.625rem;
  text-align: center;
  color: white;
  padding: 0.625rem;
}